// 全局样式 在main.js中引入即可
.van-nav-bar{
        background-color: #3196fa;
       .van-nav-bar__title{
        color:#fff;
    }
}
// vant-ui自己的样式
/*首页*/
.index{
    // layout中的头部设置fixed,不让黑马头条标题遮挡
    padding-top:50px;
    margin-bottom: 50px;
    .van-tabs--line .van-tabs__wrap {
      position: fixed;
      top: 46px;
      left: 0;
      z-index: 2;
      right: 0.7rem; /*让出右侧按钮的空间*/
    }
    .van-tabs--line{
      padding-top: 50px; // 让出van-tabs的高度
    }
}